{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html lang="fr" style="background:#202124;"> 
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
		<link rel="stylesheet" href="css/main.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		{# <?php include 'hb_card_tp.php'; ?> #}
		{{ block('head_brand') }}
	</head>
 
	<body>
		{{ block('gtm') }}
		{{ block('header') }}      
		<!-- IMAGES ONLY HERE -->
		<div class="swiper scene fixed w-full bg-center bg-cover"> 
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div id="swiper-slide-00" class="swiper-slide bg-cover relative"><div class="gradientleft absolute w-full h-full md:h-full bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}0{%endif%}</p></div>
				<div id="swiper-slide-01" class="swiper-slide bg-center bg-cover relative"><div class="gradient absolute w-full h-full md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}1{%endif%}</p></div>
				<div id="swiper-slide-02" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}2{%endif%}</p></div>
				<div id="swiper-slide-03" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}3{%endif%}</p></div>
				<div id="swiper-slide-04" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}4{%endif%}</p></div>
				<div id="swiper-slide-05" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}5{%endif%}</p></div>
				<div id="swiper-slide-06" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}5{%endif%}</p></div>
				<div id="swiper-slide-07" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}5{%endif%}</p></div>
				<div id="swiper-slide-08" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}5{%endif%}</p></div>
				{# <div id="swiper-slide-09" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}5{%endif%}</p></div> #}
				<div id="swiper-slide-10" class="swiper-slide bg-cover relative"><div class="gradient absolute w-full h-2/3 md:h-1/2 bottom-0"></div><p style="font-size:96px; color:red;">{%if debugSlider %}5{%endif%}</p></div>
				<div id="swiper-slide-11" class="swiper-slide bg-center bg-cover relative" style="background:#202124;"><div class="gradient absolute w-full h-1/2 bottom-0"></div><h1 style="font-size:96px; color:red;">{%if debugSlider %}footer{%endif%}</h1></div>
			</div>
			<!-- If we need pagination -->
			<!-- <div class="swiper-pagination"></div> -->

			<!-- If we need navigation buttons -->
			<!-- <div class="swiper-button-prev"></div> -->
			<!-- <div class="swiper-button-next"></div> -->

			<!-- If we need scrollbar -->
			<!-- <div class="swiper-scrollbar"></div> -->
		</div>
		
		<div class="container max-w-screen-2xl px-4 relative z-10">
			

			<section class="section0 container intro py-8 mb-96 max-w-6xl bg-transparent overflow-auto relative">
				<div class="text-center md:text-left container textbox w-full md:w-1/2 absolute md:bottom-1/2 md:bottom-16 bottom-4 translate-y-0">
					<h1 class="text-white text-3xl md:text-6xl mb-3 md:mb-6 drop-shadow-md">Qui sont les stars de NHL à renforcer l’équipe de Suisse?</h1>
					<!-- <p class="font-light text-white text-lg md:text-xl opacity-80">Demandez le programme! Voici ce qui attend nos stars</p> -->
					<p class="text-white text-l md:text-xl  mb-2 md:mb-4 opacity-70 drop-shadow-md">Cette année, six joueurs du plus prestigieux championnat du monde sont venus renforcer l’équipe de Suisse lors du Mondial de Riga.
					</p>
					{{ block('scroller') }}
				</div> 
				<div id="trigger0" class="trigger absolute top-8 w-full h-1"></div>
			</section>      
			
			<section class="section1 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white mb-4">Kevin Fiala</p>
					<div class="grid grid-cols-1 px-2 py-4">
						<span class="">
							<img src="img/this/logo-la-kings.svg" alt="logo Los Angeles Kings" class="h-24 float-left -ml-4">
							<span class="text-white opacity-70 text-md leading-0.5 block">Ailier des Los Angeles Kings comptabilisant 488 matches de NHL. Drafté en 2014 par les Nashville Predators (1er tour, 11e position)</span>
						</span>
					</div>
					<div class="grid grid-cols-1 px-2 py-4 mb-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Statistiques de la saison 2022/2023</span>
						<div class="flex text-white opacity-70">
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">69</span><br>matches</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">23</span><br>buts</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">49</span><br>assists</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">72</span><br>points</span>
						</div>
					</div>
					<p class="text-white text-l md:text-xl mb-4">En 2014, Kevin Fiala est devenu le troisième joueur de l’histoire à disputer les Mondiaux M18, M20 et senior la même année. Après un début de carrière difficile, il a explosé en 2019 à Minnesota. En 2022, il a signé un contrat de sept ans avec les Los Angeles Kings pour 55,125 millions de dollars.<br><br>
						Ses deux parents sont tchèques. Son père, Jan, a été l’un de ses premiers entraîneurs. Il le faisait jouer contre des enfants de 15 ans alors que Kevin n’en avait que 11. Jan Fiala a porté les couleurs du HC Ajoie durant une saison de LNB, au début des années 90. Polyglotte, il parle cinq langues: allemand, anglais, suédois, tchèque et français.</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger1" class="trigger absolute top-8 w-full h-1"></div>
			</section>      
			
			<section class="section2 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4 float-right">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white mb-4">Nino Niederreiter</p>
					<div class="grid grid-cols-1 px-2 py-4">
						<span class="">
							<img src="img/this/logo-winnipeg-jets.svg" alt="logo Los Angeles Kings" class="h-24 float-left mr-4">
							<span class="text-white opacity-70 text-md leading-0.5 block">Ailier des Winnipeg Jets comptabilisant 810 matches de NHL. Drafté en 2010 par les New York Islanders (1er tour, 5e position)</span>
						</span>
					</div>
					<div class="grid grid-cols-1 px-2 py-4 mb-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Statistiques de la saison 2022/2023</span>
						<div class="flex text-white opacity-70">
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">78</span><br>matches</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">24</span><br>buts</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">17</span><br>assists</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">41</span><br>points</span>
						</div>
					</div>
					<p class="text-white text-l md:text-xl mb-4">Avec Roman Josi, Raphael Diaz, Reto Berra et Simon Moser, il est l’un des rares joueurs à avoir remporté les deux médailles d’argent au Championnat du monde. Nino Niederreiter dispute déjà son septième Mondial et a été nommé capitaine de l’équipe de Suisse cette saison.<br><br>
						Le solide ailier avait commencé un apprentissage de monteur en chauffage. Lors du troisième jour de cours, il annonce à ses professeurs qu’il ne reviendra pas et qu’il veut se concentrer sur sa carrière de hockeyeur. Son succès ne l’a pas coupé de ses racines puisqu’en 2021 il est devenu membre du conseil d’administration du HC Coire, son club formateur.</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger2" class="trigger absolute top-8 w-full h-1"></div>
			</section> 
		
			<section class="section3 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white mb-4">Jonas Siegenthaler</p>
					<div class="grid grid-cols-1 px-2 py-4">
						<span class="">
							<img src="img/this/logo-newjersey-devils.svg" alt="logo Los Angeles Kings" class="h-24 float-left mr-4">
							<span class="text-white opacity-70 text-md leading-0.5 block">Défenseur des New Jersey Devils comptabilisant 255 matches de NHL. Drafté par les Washington Capitals (2e tour, 57e position)</span>
						</span>
					</div>
					<div class="grid grid-cols-1 px-2 py-4 mb-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Statistiques de la saison 2022/2023</span>
						<div class="flex text-white opacity-70">
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">80</span><br>matches</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">4</span><br>buts</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">17</span><br>assists</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">21</span><br>points</span>
						</div>
					</div>
					<p class="text-white text-l md:text-xl mb-4">Le père du solide Zurichois est suisse, tandis que sa mère est thaïlandaise. Il est le premier joueur ayant des racines de ce pays à évoluer en NHL. «C’est une grande fierté, avait-il déclaré au moment de son arrivée en Amérique du Nord. C’est un si beau pays. Je m’y rends une fois par année si j’y arrive. J’ai beaucoup d’amis là-bas.»<br><br>
						Arrière robuste (189cm, 99 kilos), Jonas Siegenthaler va disputer son troisième Championnat du monde avec l’équipe de Suisse. Le 26 juillet 2022, il a signé un contrat de cinq ans avec les New Jersey Devils pour un total de 17 millions de dollars.
					</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger3" class="trigger absolute top-8 w-full h-1"></div>
			</section> 
			
			<section class="section4 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4 float-right">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white mb-4">Nico Hischier</p>
					<div class="grid grid-cols-1 px-2 py-4">
						<span class="">
							<img src="img/this/logo-newjersey-devils.svg" alt="logo Los Angeles Kings" class="h-24 float-left mr-4">
							<span class="text-white opacity-70 text-md leading-0.5 block">Centre des New Jersey Devils comptabilisant 381 matches de NHL. Drafté en 2017 par les New Jersey Devils (1er tour, 1re position)</span>
						</span>
					</div>
					<div class="grid grid-cols-1 px-2 py-4 mb-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Statistiques de la saison 2022/2023</span>
						<div class="flex text-white opacity-70">
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">81</span><br>matches</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">31</span><br>buts</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">49</span><br>assists</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">80</span><br>points</span>
						</div>
					</div>
					<p class="text-white text-l md:text-xl mb-4">Malgré ses 24 ans, le Haut-Valaisan dispute déjà son quatrième Championnat du monde. Fan de Manchester City, Nico Hischier vient d’une famille de sportifs. Son père, Rino, était un joueur du FC Naters. Il a lui-même joué au foot jusqu’à 12 ans. Son frère Luca évolue au HC Bienne. Sa soeur, Nina, est une volleyeuse d’un bon niveau.<br><br>
						En 2022, il a signé un contrat de sept ans pour 50,75 millions de dollars avec la franchise du New Jersey. Lors du Mondial 2022, il était capitaine de la sélection nationale, un rôle qu’il a depuis 2020 en NHL.
					</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger4" class="trigger absolute top-8 w-full h-1"></div>
			</section> 

			<section class="section5 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white mb-4">Denis Malgin</p>
					<div class="grid grid-cols-1 px-2 py-4">
						<span class="">
							<img src="img/this/logo-colorado-avalanche.svg" alt="logo Los Angeles Kings" class="h-24 float-left mr-4">
							<span class="text-white opacity-70 text-md leading-0.5 block">Ailier/centre de Colorado Avalanche comptabilisant 257 matches de NHL. Drafté en 2015 par les Florida Panthers (4e tour, 102e position)</span>
						</span>
					</div>
					<div class="grid grid-cols-1 px-2 py-4 mb-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Statistiques de la saison 2022/2023</span>
						<div class="flex text-white opacity-70">
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">65</span><br>matches</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">13</span><br>buts</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">8</span><br>assists</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">21</span><br>points</span>
						</div>
					</div>
					<p class="text-white text-l md:text-xl mb-4">Il a fait ses débuts dans le mouvement junior de Bienne lorsque son père, Albert, était assistant coach de la première équipe. Avec lui, il a appris le russe et rentrait chaque année à Perm, en Russie. Albert Malgin a longtemps entraîné le HC Martigny. Son frère, Dmitri, est un ancien junior de Fribourg Gottéron.<br><br>
						Le contrat de Denis Malgin dans le Colorado s’est terminé à la fin de la saison 2022-2023. S’il y a de fortes chances qu’il reste en Amérique du Nord, le joueur de 26 ans est en possession d’une entente avec les Zurich Lions en cas de retour en Suisse. L’an dernier, il était le meilleur compteur de l’équipe nationale avec 12 points en 8 matches.
					</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger5" class="trigger absolute top-8 w-full h-1"></div>
			</section> 

			<section class="section6 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white mb-4">Janis Moser</p>
					<div class="grid grid-cols-1 px-2 py-4">
						<span class="">
							<img src="img/this/logo-arizona-coyotes.svg" alt="logo Los Angeles Kings" class="h-24 float-left mr-4">
							<span class="text-white opacity-70 text-md leading-0.5 block">Défenseur des Arizona Coyotes comptabilisant 125 matches de NHL. Drafté en 2021 par les Arizona Coyotes (2e tour, 60e position)</span>
						</span>
					</div>
					<div class="grid grid-cols-1 px-2 py-4 mb-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Statistiques de la saison 2022/2023</span>
						<div class="flex text-white opacity-70">
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">82</span><br>matches</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">7</span><br>buts</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">24</span><br>assists</span>
							<span class="w-1/4 text-center font-thin"><span class="sport text-4xl">31</span><br>points</span>
						</div>
					</div>
					<p class="text-white text-l md:text-xl mb-4">L’arrière seelandais en est déjà à son quatrième tournoi mondial alors qu’il n’a que 22 ans. Sa première participation? À la surprise générale, il avait été sélectionné pour le Championnat du monde 2019 en Slovaquie alors qu’il n’avait que 19 ans.<br><br>
						Depuis, Janis Moser a suivi une progression ultra-rapide puisqu’il vient de terminer sa deuxième saison de NHL où il est devenu l’un des arrières les plus sollicités des Coyotes de l’Arizona. Théoriquement, il est toujours sous contrat avec le HC Bienne pour la saison prochaine. Mais son explosion au plus haut niveau risque de ne pas lui permettre d’honorer cette entente. Il a encore un bail d’un an avec son équipe de NHL.
					</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger6" class="trigger absolute top-8 w-full h-1"></div>
			</section> 

			{# <section class="section7 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white">Daniel Yule</p>
					<div class="grid grid-cols-1 py-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Chance de médaille</span>
						<span class="text-white block overflow-auto">
							<span class="float-left mr-2 opacity-70">Slalom le 19 février</span>
							<img src="img/star4.svg" alt="Icône 5 étoiles" class="translate-y-1.5">
						</span>
					</div>
					<p class="text-white text-l md:text-xl mb-4">Le Valaisan devra ronger son frein jusqu’au dernier week-end de compétition. Déjà sacré par équipe aux JO (2018) et aux Mondiaux (2019), le slalomeur est désormais mûr pour décrocher sa première médaille individuelle lors d'un grand événement. Ses deux victoires à Madonna (It) et Kitzbühel cette saison font de lui un favori en puissance à Courchevel. Il ne faut pas oublier Ramon Zenhäusern entre les piquets. Le Haut-Valaisan est revenu sur le podium à Schladming fin janvier (2e).
					</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger7" class="trigger absolute top-8 w-full h-1"></div>
			</section> 

			<section class="section8 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4 float-right">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white">Michelle Gisin</p>
					<div class="grid grid-cols-1 py-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Chance de médaille</span>
						<span class="text-white block overflow-auto">
							<span class="float-left mr-2 opacity-70">Combiné alpin le 6 février</span>
							<img src="img/star3.svg" alt="Icône 5 étoiles" class="translate-y-1.5">
						</span>
						<span class="text-white block overflow-auto">
							<span class="float-left mr-2 opacity-70">Super-G le 8 février</span>
							<img src="img/star3.svg" alt="Icône 5 étoiles" class="translate-y-1.5">
						</span>
						<span class="text-white block overflow-auto">
							<span class="float-left mr-2 opacity-70">Descente le 11 février</span>
							<img src="img/star2.svg" alt="Icône 5 étoiles" class="translate-y-1.5">
						</span>
						<span class="text-white block overflow-auto">
							<span class="float-left mr-2 opacity-70">Géant le 16 février</span>
							<img src="img/star0.svg" alt="Icône 5 étoiles" class="translate-y-1.5">
						</span>
						<span class="text-white block overflow-auto">
							<span class="float-left mr-2 opacity-70">Slalom le 18 février</span>
							<img src="img/star0.svg" alt="Icône 5 étoiles" class="translate-y-1.5">
						</span>
					</div>
					<p class="text-white text-l md:text-xl mb-4">Michelle Gisin connaît un hiver compliqué depuis son changement de matériel. Double championne olympique en titre de combiné, l’Obwaldienne aura sa chance dans la discipline. Elle y a déjà remporté le bronze (2021) et l’argent (2019) aux Mondiaux. Plus à l’aise en super-G et en descente, elle semble trop éloignée des meilleures pour espérer monter sur le podium dans les disciplines techniques. 

					</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger8" class="trigger absolute top-8 w-full h-1"></div>
			</section>  #}

			{# <section class="section9 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-full md:w-1/2 p-0 md:p-4">
					<p class="font-bold md:text-left text-2xl md:text-5xl text-white">Les quatre mousquetaires</p>
					<div class="grid grid-cols-1 py-4">
						<span class="block text-white opacity-70 font-bold underline underline-offset-1 mb-2">Chance de médaille</span>
						<span class="text-white block overflow-auto">
							<span class="float-left mr-2 opacity-70">Épreuve par équipes</span>
							<img src="img/star3.svg" alt="Icône 5 étoiles" class="translate-y-1.5">
						</span>
					</div>
					<p class="text-white text-l md:text-xl mb-4">La sélection pour l'épreuve par équipe sera annoncée plus tard. Loïc Meillard, Andrea Ellenberger ou Wendy Holdener font partie des prétendants à une place dans le quatuor. La neige savoyarde avait porté chance aux Suisses, qui ont remporté l’épreuve lors des finales de la Coupe du monde en mars 2022. 

					</p>
					<!-- <p class="text-white text-xs opacity-70">Legende de la photo/crédit</p> -->
				</div>
				<div id="trigger9" class="trigger absolute top-8 w-full h-1"></div>
			</section>  #}

			<section class="section10 container py-8 max-w-6xl overflow-auto relative">
				<div class="textbox w-80 absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4">
					{{ block('credits') }}  
				</div>
				<div id="trigger10" class="trigger absolute top-8 w-full h-1"></div>
			</section> 
			
			
			<script src="js/vendor/modernizr-3.11.2.min.js"></script> 
			<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
			<script src="js/ScrollMagic.min.js"></script>
			<!-- <script src="js/debug.addIndicators.min.js"></script> -->
			<!-- <script src="js/isInViewport.min.js"></script> -->
			<script src="js/main.js"></script>
			<script src="js/headroom.min.js"></script>
			<script src="https://cdn.tailwindcss.com"></script>

			
			<!-- <script>
				window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
				ga('create', 'G-BVVLW3LSNH', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
			</script>
			<script src="https://www.google-analytics.com/analytics.js" async></script> -->
			
		</div>  
		
	</body>
</html>
